# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build / temp
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
