# exclude lab files
helloWorld.py
lab2_unicycle_motion.py
lab3_unicycle_motion.py
lab3_grid_goal_seeking.py
lab4_greedy_bfs.py
lab6_movement.py

# exclude environment and cache
.venv/
__pycache__/
*.pyc
.devcontainer/

# exclude vscode settings (optional — remove this line if you want to keep them)
.vscode/